*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', ;
}
nav{
    background-color: white;
    /* z-index: 10; */
}
a.py-2 {
    color: black;
    font-size: 1.60vw
}
/* a:first-child{
    font-size: 1.60vw
} */
.header{
    background: url("/assets/images/pictures//navBackground.jpg") no-repeat center center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    will-change: transform;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.home h1{
    font-size: 6vw;
    font-weight: 800;
    text-transform: uppercase;
    color:white
}
.home p{
    font-size: 1.5vw
}

.card-deck{
    margin-top: 2%;
}
img.card-img-top{
   height: 200px;
   border-bottom: 2px solid black;
}

/* Vertical card body */
#frontEnd .cardHeader{
    text-decoration: underline;
}
section.verticalCardDeck{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.links{
    display: flex;
    justify-content: space-between;
}
.vertical-card{
    display: flex;
    width: 75%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}
.vertical-card:nth-last-child(odd){
    flex-direction: row-reverse;
}
